.homepage{
  padding: 0px 40px;
}

.homepage__welcome{
  color: var(--white);
  font-size: 60px;
  font-family: "Inter Bold";
  margin: 0;
  padding-top: 50px;
  padding-bottom: 5px;
  position: sticky;
  top: 84px;
  border-bottom: 1px solid var(--white);
  background-color: var(--dark-grey);
}

.homepage__playlist-list {
  list-style-type: none;
  padding: 0;
  height: 100%;
  overflow: auto;
}