.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  display: flex;
  transition: visibility .2s ease, opacity .2s ease;
}

.modal_visible {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  justify-content: center;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  transition: visibility .2s ease, opacity .2s ease;
}

.modal__container{
  max-width: 810px;
  width: 100%;
  height: 90%;
  margin: 20px 40px;
  border: 1px solid var(--white);
  border-radius: 28px;
  position: relative;
  background: linear-gradient(to top, var(--dark-grey), 95%, var(--light-grey));
  padding: 20px;
}

.modal__close-button{
  position: absolute;
  background: none;
  border: none;
  right: 15px;
  top: 15px;
  cursor: pointer;
}